# UDev rules for the Subsystems Pi
# This file should be placed in /etc/udev/rules.d
# 
# This file allows our USB to be assigned a particular port each time, instead of the default random one. 
# Instead of /dev/ttyACM0 and /dev/ttyACM1, we can have /dev/rover-imu and /dev/rover-gps
# 
# The general gist of this file is that it reads data about the device (SUBSYSTEM and ATTRS), and, 
# based on the below rules, adds an alias for that device (SYMLINK). Each physical device may be 
# registered multiple times with the OS, so we use multiple checks (like USB port and video4linux).
# 
# Resources: 
# - To see info for a device, run `udevadm info -a -n /dev/deviceName`
# - For guidance on writing these kinds of files, see 
#   https://bing-rover.gitbook.io/docs/v/software/onboard-computers/video/udev-rules

# GPS: /dev/rover-gps
SUBSYSTEMS=="usb", ATTRS{manufacturer}=="u-blox AG - www.u-blox.com", ENV{IS_GPS}="t"
SUBSYSTEM=="tty", ENV{IS_GPS}=="t", SYMLINK+="rover-gps"

# IMU: /dev/rover-imu
SUBSYSTEMS=="usb", ATTRS{product}=="CDC + MSD Demo", ENV{IS_IMU}="t"
SUBSYSTEM=="tty", ENV{IS_IMU}=="t", SYMLINK+="rover-imu"
