[submodule "opencv_ffi"]
	path = opencv_ffi
	url = https://github.com/BinghamtonRover/OpenCV-FFI
[submodule "video"]
	path = video
	url = https://github.com/BinghamtonRover/Video
[submodule "autonomy"]
	path = autonomy
	url = https://github.com/BinghamtonRover/Autonomy
[submodule "burt_network"]
	path = burt_network
	url = https://github.com/BinghamtonRover/Networking
